* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: #0e1111;
    --color-white: #ffffff;
    --color-grey: #F4F4F4;
    --color-primary: royalblue;
    --color-secondary: #353535;
}



body {
    font-family: "Inter", sans-serif;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
}

.wrapper {
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 729px;
    width: 550px;
    margin-top: 15px;
}



.upper-container {
    background-color: var(--color-primary);
    height: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 33px 51px;
}

.upper-container h3 {
    color: var(--color-white);
    font-size: 25px;
    font-weight: 800;
}

.upper-container input {
    background-color: transparent;
    border: 2px solid var(--color-grey);
    border-radius: 5px;
    font-family: inherit;
    font-size: 58px;
    font-weight: 800;
    color: var(--color-white);
    width: 125px;
    height: 83px;
    text-align: center;
}

input::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
    display: none;
}

.btn-convert {
    width: 117px;
    height: 42px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s;
}

.btn-convert:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

.lower-container {
    background-color: var(--color-grey);
    height: 444px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px 25px;


}

.card {
    background-color: var(--color-white);
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px
}

.card h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-primary);
}

.card p {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-secondary);
}